/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/tnseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = 'assets/diet_samplesheet.csv'
    designs                    = 'assets/diet_designs.csv'
    demultiplex                = false
    demultiplex_barcodes       = null
    file_to_demultiplex        = null
    sample_size                = 1000
    transposon_type            = 'm'
    discard_untrimmed          = false
    ta_position                = 'internal_3prime'

    // transit
    tests_to_run               = 'assets/diet_tests_to_run.csv'


    // Trimgalore
    adapter_to_trim            = 'ACAGGTTG'
    min_after_trimming         = 16
    clip_r1                    = null
    clip_r2                    = null
    three_prime_clip_r1        = null
    three_prime_clip_r2        = null

    // BOWTIE
    save_unaligned             = false

    // References
    fastas_and_gffs            = 'assets/diet_fastas_and_gffs.csv'
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes'
    igenomes_ignore            = true

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    max_multiqc_email_size     = '25.MB'

    // Boilerplate options
    outdir                     = 's3://lp-2022-tn-seq/lp-diet/results/combined/'
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    help                       = false
    validate_params            = false
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'
    enable_conda               = false

    // Config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

}

profiles {
    trestle {
        process.executor = 'local'
        process.queue = ''
        aws.region = 'us-east-2'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
		docker.enabled         = true
		docker.userEmulation   = true
		singularity.enabled    = false
		podman.enabled         = false
		shifter.enabled        = false
	    charliecloud.enabled   = false
    }
}